{% extends 'base.html.twig' %}

{% block body %}

    <div class="row column">

        <h2>Todo Lists</h2>

        <a href="{{ path('todoList.create') }}">Add New</a>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for todoList in todoLists %}
                <tr>
                    <td>{{ todoList.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
